{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "importOrder": ["^@core/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}